<ul class="list-unstyled">
    <li class="">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cabana" asp-action="Create">Registrar cabaña</a>
    </li>
    <li class="">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cabana" asp-action="BuscarCabanasPor">Listados de cabañas</a>
    </li>
</ul>

<a asp-controller="Home" asp-action="Index">Volver</a>